@media (min-width: 992px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
  section.overlay {
      background: rgba(0,0,0,0.8);
      height: 100vh;
      display: flex;
      align-items: center;
  }
  .form-wrapper {
      min-width: 300px;
      max-width: 480px;
      margin: auto;
      width: 100%;        
      position: relative;
      background: #fff;
      border-radius: 8px;
      border-top: none;
      overflow-x: hidden;
      overflow-y: auto;
      height: 90vh;
  }
  .form-inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      position: relative;
      background: #fff;
      border-radius: 0px;
      border-top: none;  
      box-shadow: 0 7px 7px rgba(0,0,0,0.08);
  }
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
      -moz-appearance: textfield !important;
  }
  ._2aUYtw--A_0OGXv8GCRWDJ {
      display: table;
      table-layout: fixed;
      width: 100%;
  }
  ._2oF0fDbva9Ys2WjlbQmwC3 {
      display: table-cell;
      font-size: 14px;
      letter-spacing: normal;
      padding: 12px 0px 8px 0px;
      text-align: center;
  }
  ._26WGny5X7D6LJWmivfHO5v {
      background-color: #f4f4f4;
  }
  ._2-P_NeuHIIHm_yZfRzQkl {
      height: 4px;
      display: block;
      background-color: #006cff;
      /*background-color: var(--bolt-primary-action-color);*/
      margin-left: 0;
      border: none;
  }
  .position-relative.show .dropdown-menu.dropdown-menu-right.animate.slideIn.show {
      left: -190px !important;
      top: 50px !important;
      box-shadow: 0 2px 8px 0 rgba(24,24,32,0.24);
      font-size: 14px;
      color: #181818;
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      line-height: 20px;
      padding: 13px 16px;
      width: 284px;
      max-height: 400px;   
  }
  .position-relative.show .dropdown-menu.dropdown-menu-right.animate.slideIn.show:before {
      content: "";
      position: absolute;
      top: -7px;
      right: 30px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border-width: 1px;
      border-style: solid;
      border-color: #e0e0e0 transparent transparent #e0e0e0;
      background-color: #fff;
      width: 14px;
      height: 14px;
  }
  .main-form-area {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
      flex: 1 1 0%;
  }
  .order-btn {
      background: #fff;
      border-radius: 4px;
      border: 1px solid #c7c7c7;
      outline: none;
      cursor: pointer;
      font-size: 14px;
      height: 40px;
      min-height: 20px;
      padding: 8px;
  }
  .form-top-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  h1.form-title:first-child, h2:first-child, h3:first-child, h4:first-child {
      margin-top: 0;
  }
  .form-title {
      height: 48px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      min-width: 0;
  }
  .bolt-cart-border-discount-and-total {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap-reverse;
      flex-flow: row wrap-reverse;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .bolt-checkout-order-summary--cart-icon {
      display: inline-block;
      padding-right: 4px;
      margin-left: 4px;
      margin-top: 4px;
      vertical-align: top;
  }
  .bolt-checkout-order-summary--cart-total {
      display: inline-block;
      vertical-align: top;
      padding-right: 4px;
      margin-top: 0px;
  }
  input:not([type='checkbox']), select.form-control, .credit-card button.method-buttons
  {
      font-size: 16px;
      background-color: #f4f4f4 !important;
      height: 48px !important;
      padding: 8px 12px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid rgba(0,0,0,0);
      outline: none;
      border: 0px !important
  }
  .credit-card button.method-buttons{
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .credit-card button.method-buttons img {
    margin-right: 30px !important;
  }
  .credit-card button.method-buttons > i {
    position: absolute;
    top: 0;
    -moz-transform: translate(-20px,0);
    -ms-transform: translate(-20px,0);
    -o-transform: translate(-20px,0);
    -webkit-transform: translate(-20px,0);
    transform: translate(-20px,0);
    margin-top: 20px;
    right: 0;
  }
  .credit-card button.method-buttons > i:before, .credit-card button.method-buttons > i:after {
    content: "";
    position: absolute;
    background-color: #999;
    width: 3px;
    height: 9px;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
  .credit-card button.method-buttons i:before {
    
    -moz-transform: translate(-2px,-3px) rotate(125deg);
    -ms-transform: translate(-2px,-3px) rotate(125deg);
    -o-transform: translate(-2px,-3px) rotate(125deg);
    -webkit-transform: translate(-2px,-3px) rotate(125deg);
    transform: translate(-2px,-3px) rotate(125deg);
  }
  .credit-card button.method-buttons i:after {
    -moz-transform: translate(-2px,1px) rotate(-125deg);
    -ms-transform: translate(-2px,1px) rotate(-125deg);
    -o-transform: translate(-2px,1px) rotate(-125deg);
    -webkit-transform: translate(-2px,1px) rotate(-125deg);
    transform: translate(-2px,1px) rotate(-125deg);
  }

  .custom-padding{ padding-left: 4px !important; padding-right: 4px !important; }
  .continue-btn {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #006cff;   
      border-radius: 4px;
      -webkit-box-shadow: 0 5px 25px -5px #006cff66;
      box-shadow: 0 5px 25px -5px #006cff66;
      cursor: pointer;
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      font-size: 16px;
      height: 48px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      width: 100%;   
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      border: 0;
  }
  .return-text:hover {
      cursor: pointer;
      text-decoration: underline;
  }
  .return-text {
      text-transform: uppercase;
      letter-spacing: 0.2px;
      font-size: 11px;
      text-align: center;
      color: #707070;   
      outline: none;
  }
  .form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 10px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
  }
  input:not([type='checkbox']).form-control:focus, select.form-control:focus {
    background-color: #fff !important;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid rgba(0,108,255,1) !important;
    box-shadow: none;
  }
  a.js-linkShowAutoFillInput {
    color: #858585;
    text-transform: capitalize;
    padding: 10px 0 0;
    display: block;
    text-decoration: none;
    font-size: 14px;
}
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 80%;
    transform: translate3d(0, -25%, 0);
    opacity: 1;
    color: rgba(0,108,255,1);
    font-weight: bold;
    padding: 5px 0 0 13px;
  }
  select.form-control {
    background: #f4f4f4 url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGRlZnM+PHBhdGggZD0iTTEwIDE2bC00LTRoOGwtNCA0em0wLTEyTDYgOGg4bC00LTR6IiBpZD0iYSIvPjwvZGVmcz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNiAtNCkiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PG1hc2sgaWQ9ImIiIGZpbGw9IiNmZmYiPjx1c2UgeGxpbms6aHJlZj0iI2EiLz48L21hc2s+PHVzZSBmaWxsPSIjMzEzNzNEIiB4bGluazpocmVmPSIjYSIvPjxnIG1hc2s9InVybCgjYikiIGZpbGw9IiMzMTM3M0QiPjxwYXRoIGQ9Ik0wIDBoMjF2MjFIMHoiLz48L2c+PC9nPjwvc3ZnPg==) no-repeat;
    background-position: right 10px top 16px;
    background-size: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  input[type='checkbox'] {
    width: auto;
    margin: 5px;
    float: left;
  }
  input[type='checkbox'] + label {
    opacity: 0.7;
  }
  /*------------ Validation CSS ---------------*/
  .form-control.is-invalid {
    border: 1px solid #dc3545 !important;
  }
  .invalid-feedback {
    font-size: 80%;
    transform: translate3d(0, -25%, 0);
    opacity: 1;
    color: #dc3545;
    font-weight: bold;
    position: absolute;
    top: 0;
    padding: 0 0 0 13px;
    transition: all 200ms;
  }
  .form-control.is-invalid + label {
    padding: 20px 0 0 13px;
  }
  .invalid-feedback .error-alert-icon {
    pointer-events: none;
    position: absolute;
    top: 16px;
    width: calc(100% - 30px);
    text-align: right;
    margin-left: 4px;
    height: calc(100% - 16px);
    vertical-align: middle;
  }
  button#btnFindAddress {
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background: #006cff;
    border: 0;
    padding: 11px;
    font-weight: bold;
  }
  ul.address-list {
    background: #fff;
    font-size: 12px;
    line-height: 1.5;
    max-height: 80px;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    list-style: none;
    padding: 0;
    box-shadow: 0px 7px 10px #ccc;
  }
  ul.address-list li a {
    padding: 6px 15px;
    display: block;
    text-decoration: none;
    color: #777;
  }

  /*-----------Debit section Css-------------*/
  .checkbox-label {
    position: relative;
    display: block;
    font-size: 13px;
    margin-left: 30px;
    color: #2E2F31;
  }
  .form-control.is-invalid + label.checkbox-label {
    padding: 0;
  }
  .checkbox-label + .invalid-feedback {
    position: unset;
    transform: none;
  }
  .account-details__header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0,108,255,0.12);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  ._2hMx6TSp7WvvhRaC2r9BkH {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.2 4h1.6v1.6H7.2V4zm0 3.2h1.6V12H7.2V7.2zM8 0C3.584 0 0 3.584 0 8s3.584 8 8 8 8-3.584 8-8-3.584-8-8-8zm0 14.4A6.408 6.408 0 011.6 8c0-3.528 2.872-6.4 6.4-6.4 3.528 0 6.4 2.872 6.4 6.4 0 3.528-2.872 6.4-6.4 6.4z' fill='%23181818'/%3E%3C/svg%3E");
    height: 16px;
    margin-right: 8px;
    width: 16px;
}
  .account-details__header .inline-dialog__header {
    color: #181818;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .account-details__details {
    margin-bottom: 12px;
    color: #48494D;
    font-size: 14px;
  }
  .account-details__details .gcc-value {
    color: #000000 !important;
  }
  /*--------Thank you Page-----------*/
  .thankyou-header {
    text-align: center;
    color: #ccc;
  }
  .thankyou-header > p:first-child {
    color: #007bff;
    font-size: 18px;
  }
  .thankyou-content {
    border: 1px solid #eee;
    border-radius: 10px;
    color: #858585;
    box-shadow: 0px 0px 10px #eee;
  }
  .thankyou-content .row {
    font-size: 14px;
  }
  .thankyou-content .row .text-md-right { 
    color: #000;
  }
  /*--------Guarantee Text-----------*/
  .guarantee-text p {
    color: #777;
  }
  .guarantee-text a {
    cursor: pointer;
  }
  .guarantee-header {
    text-align: center;
  }
  .icon-direct-debit-white-bg {
    background-image: url('/assets/img/direct-debit-back.png');
    display: inline-block;
    height: 29px;
    width: 89px;
    background-repeat: no-repeat;
  }
  .u-block {
    display: block;
  }
  .u-text-heavy {
    font-weight: 700;
  }
  .guarantee-list {
    list-style: none;
    padding: 0;
    font-size: 12px;
    margin-top: 12px;
  }
  .u-margin-Bs {
    margin-bottom: 12px;
  }

    /* logo size for moblarge screen */
    h1.form-title img {
      max-width: 170px;
  }

  @media only screen and (max-width: 767px) {
  .position-relative.show .dropdown-menu.dropdown-menu-right.animate.slideIn.show{
    left: inherit !important;
    top: inherit !important;
  }
  .form-wrapper{ height: 100vh; border-radius: 0px;}
  .continue-btn{ width: 100% !important;}
  /* logo size for mobilke view */
  h1.form-title img {
    max-width: 150px;
}
  }